<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DataEntities" connectionString="metadata=res://*/Data.csdl|res://*/Data.ssdl|res://*/Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=KCMS2;Persist Security Info=True;User ID=sa;Password=kuibono4264269;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="DataEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;Persist Security Info=True;database=KCMS2&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>