<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DataEntities" connectionString="metadata=res://*/Datas.csdl|res://*/Datas.ssdl|res://*/Datas.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=KCMS2;Persist Security Info=True;User ID=sa;Password=kuibono4264269;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>