/* CSS Document */
body{ padding:0px; margin:0px; font-size:12px; background:url(../img/7.jpg) repeat-x #f4f4f4; line-height:24px;}

h1{ color:#53b31f; font-size:22px; font-family:"微软雅黑"; font-weight:bold; padding:0px; margin:0px;}

h2{ color:#009bd8; font-size:14px; font-family:"微软雅黑";  padding:0px; margin:0px; line-height:24px;}
h2 a{ color:#009bd8; text-decoration:none;}
h2 a:hover{ color:#009bd8; text-decoration:underline;}

img{ border:0px;}

.zhuce{ background:url(../img/bj.gif) repeat-x;}

.zc{ background:url(../img/5.jpg) no-repeat}

.foot{ height:80px; color:#01a5c8;}
.foot span{ color:#abacac}
.foot a{ color:#01a5c8; text-decoration:none;}


.top{ color:#FFFFFF;}
.top_left a{ color:#FFFFFF; font-size:14px; font-weight:bold; text-decoration:underline; padding-left:15px;}

.top_right a{ color:#FFFFFF; text-decoration:underline;}

.menu{ background:url(../img/8.jpg) repeat-x; height:81px;}

.search a{color:#FFFFFF; text-decoration:underline; line-height:18px;}

.city{ border-top:3px solid #20a7dd; border-bottom:1px solid #dbdbde; border-left:1px solid #dbdede; border-right:1px solid #dbdede;}

.city_top{ color:#019bd9;}
.city_right{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#fc8f01;}

.deta{ color:#3c3c3c; height:30px; border-bottom:1px solid #dad9d9;}
.xl,.x0,.x1,.x2{ padding-left:3px; padding-right:3px; height:14px; background:#dd6700; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif}
.xl1,.x3,.x4,.x5,.x6,.x7,.x8,.x9,.x10,.x11,.x12,.x13,.x14,.x15,.x16,.x17,.x18,.x19,.x20{padding-left:3px; padding-right:3px; height:14px; background:#18a0cd; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif}

.hot,.h0,.h1,.h2{ color:#18a0cd; font-size:14px; line-height:30px; padding-right:15px;}
.hot a{ color:#18a0cd; text-decoration:none; padding-left:20px;}

.ming{ border-bottom:1px solid #dbdbde; border-left:1px solid #dbdede; border-right:1px solid #dbdede; padding:4px 0px 6px 0;}
.ming ul{ float:left}
.ming ul li{ float:left;margin: 4px 2px 0px 2px;}

#ctul{ float:left}
#ctul li{ float:left;width:25%; text-align:center;}
OL LI {
	MARGIN: 8px
}
#con {
	FONT-SIZE: 12px; MARGIN: 0px auto; WIDTH: 694px; border:1px solid #dcdbdb;
}
#tags {
	WIDTH: 694px; HEIGHT: 40px; border-bottom:1px solid #dcdbdb;
}
#tags span{ COLOR:#389cc3; font-family:Arial, Helvetica, sans-serif; line-height:40px; float:right; padding-right:5px;}
#tags LI {
	 FLOAT: left; text-align:center; MARGIN-RIGHT: 1px; LIST-STYLE-TYPE: none; HEIGHT: 40px; border-left:0px;
}
#tags LI A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; COLOR: #ff8f01; font-family:"黑体"; font-size:16px; LINE-HEIGHT: 40px; PADDING-TOP: 0px; HEIGHT: 40px; TEXT-DECORATION: none; text-align:center; width:114px; border:1px solid #dcdbdb; border-left:0px; border-bottom:0px;
}
#tags LI.emptyTag {
	BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 4px
}
#tags LI.selectTag {
	BACKGROUND-POSITION: left top; MARGIN-BOTTOM: -2px; POSITION: relative; HEIGHT: 40px; background:#ffffff; 
}
#tags LI.selectTag A {
	BACKGROUND-POSITION: right top; color:#507902; LINE-HEIGHT: 40px; HEIGHT: 40px; border-top:2px solid #20a7dd; width:114px; border-bottom:0px; text-align:center
}
#tagContent {
 PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px;  PADDING-TOP: 1px;
}
.tagContent {
    DISPLAY: none; PADDING-BOTTOM: 10px; WIDTH: 694px; COLOR: #474747; PADDING-TOP: 10px; HEIGHT: 410px
}
#tagContent DIV.selectTag {
	DISPLAY: block
}

.dian a{ background:url(../img/dian.jpg) left no-repeat; padding-left:10px; color:#019bd9; height:28px; line-height:28px;}
.company a{ color:#696969;}

.job{ color:#666; width:60px;}
.job a{ color:#666; text-decoration:none;}
.job a:hover{ color:#666; text-decoration:none;}

.buxian a{ background:#009bd8; color:#FFFFFF; width:60px; padding:3px}
.buxian a:hover{ background:#009bd8; color:#FFFFFF; width:60px; padding:3px}

.xz a{ color:#009bd8; padding:3px; text-decoration:none; line-height:30px;}
.xz a.select{ color:#fff; background:#009bd8; padding:3px; text-decoration:none; line-height:30px;}
.xz a:hover{ color:#fff; background:#009bd8; padding:3px; text-decoration:none; line-height:30px;}

.chaxun{ border-top:2px solid #009bd8; background:#f1f7f7; border-bottom:1px solid #dde2e5; border-left:1px solid #dde2e5; border-right:1px solid #dde2e5; height:39px; line-height:39px;}

.wCon{ padding-left:15px; border-bottom:1px solid #e4e9ec; border-right:1px solid #e4e4ec;}

.wTit{ background:#f1f3f4; border-right:1px solid #e4e9ec; border-bottom:1px solid #e4e9ec}

.tbPosi{ border:1px solid #e4e9ec}

.job_title{ color:#009bd8; font-size:14px; line-height:30px;}
.job_title a{ color:#009bd8; text-decoration:none;}
.job_title a:hover{ color:#B70000; text-decoration:underline;}

.job_compangy{ width:225px; color:#009bd8; line-height:30px;}
.job_compangy a{ color:#009bd8; text-decoration:none;}
.job_compangy a:hover{ color:#b70000; text-decoration:underline;}

.job_qt{ width:240px; color:#666666;}

.job_qt1{ color:#666666;}
.job_qt1 span{ color:#b70000; font-weight:bold;}

.job_con{ color:#666666; line-height:24px; min-height:48px;}

.listLeft{width:200px;float:right;overflow:hidden}

.blur-bor-box{border:1px solid #96d6ef}

.clearFix{*zoom:1}

.mb-10{margin-bottom:10px}

.wzd-dl{padding:0px 10px; padding-top:0px;}

.wzd-dgree-pricent{height:16px;background:url(../img/dash-bg.gif) repeat;display:block;border:1px solid #f2f2f2; margin-top:10px;}

.wanshan{float:right;padding:0px 10px 10px 0px}
.wanshan a{ color:#009bd8; text-decoration:none;}
.wanshan a:hover{ color:#b70000; text-decoration:underline;}

wzd-dgree-pricent{height:16px;background:url(../img/dash-bg.gif) repeat;display:block;border:1px
solid #f2f2f2}

.btn_upRsu{background-image:url(../img/but1.png);display:inline-block;background-repeat:no-repeat;border:0
none;cursor:pointer;text-align:center;color:#fff}

a:disabled{ background-color:Gray}
.pageNum{text-align:center;padding:15px 0;margin:15px auto}
.pageNum li{display:inline;height:20px;margin-left:10px;vertical-align:text-top}
.pageNum a{display:inline-block;white-space:nowrap;padding:0 10px;height:20px;line-height:20px;color:#333;background:#08C;color:#fff}
.pageNum a:hover{background:#72bf44;color:#fff;text-decoration:none}
.pageNum .selected a{background:none;text-decoration:none;color:#666;font-weight:bold}.pageNum
span{display:inline-block;padding:3px 0;margin-left:0}
.pageNum a.next_page{background:#08c;color:#fff;width:60px}
.load{background-image:url(/images/zui/icon/load.png);background-repeat:no-repeat;width:82px;height:82px;display:inline-block}
.pop{background:url(/images/zui/bg/transGray.png);background:#ccc \9;padding:5px;position:absolute;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;_background-image:none;_background-color:#d5d7d9}

.btn-job{ background:url(../img/btn.jpg) no-repeat; border:0px; height:29px; width:93px; color:#FFFFFF; font-size:14px;}

.job_tedail{ color:#666666;}
.job_tedail a{ color:#009bd8; text-decoration:none;}
.job_tedail a:hover{ color:#b70000; text-decoration:underline;}

.job_com_detail{ background:url(../img/20.jpg) repeat-x; border:1px solid #eeeeee;}

.job_zw{ font-weight:bold; color:#000000; font-size:14px;}

.job_detail_detail{ border:1px solid #eeeeee;}

.job_detail_top{ background:url(../img/21.jpg) no-repeat left #eeeeee; background-position:5px; height:32px; padding-left:35px; font-size:14px; line-height:32px; padding-bottom:10px;}

.job_detail_top1{ background:url(../img/22.jpg) no-repeat left #eeeeee; background-position:5px; height:32px; padding-left:35px; font-size:14px; line-height:32px;  padding-bottom:10px;}
.disabled
{
	color:Gray;
}

/* slides */
.slidebox-01 a,img{border:0;}
.slidebox-01{width:694px;height:151px;overflow:hidden;position:relative;border:solid 0px #ddd;margin:0px auto;}
.slidepic-01{position:absolute;width:9999em;}/* 必要元素 */
.slidepic-01 li{height:340px;overflow:hidden;float:left;}
.slidebtn-01{position:absolute;bottom:2px;right:10px;float:right;}
.slidebtn-01 li{background:#555;border:1px solid #555;cursor:pointer;float:left;font-family:arial;height:18px;line-height:18px;width:18px;margin:1px;text-align:center;color:#FFF; list-style:none;}
.slidebtn-01 li.current{background:#FFF;border:1px solid #555;line-height:18px;width:18px;margin:1px;color:#000;}
/* slides */

.dl{background:url(../img/2.jpg) no-repeat left center; padding-left:30px; border:1px solid #c6ddef; height:27px; line-height:27px; width:187px; }

.find_wrap { margin: 30px auto 0; width: 960px; }
.find_wrap .ws2 {word-spacing:2px;}
.find_wrap .ws23 {word-spacing:23px;}
.find_wrap .e9 {color:#878787;*display:inline-block;*line-height:25px;}
.find_wrap .title { background: url(../img/bg_findmsg.png) repeat-x 0 0; border: 1px solid; border-color: #e9e9e9 #e9e9e9 #eaeaea; color: #878787; display: block; height: 38px; line-height: 40px; overflow: hidden; }
.find_wrap .title .bold { color: #343434; display: block; float: left; font: 18px Microsoft Yahei,宋体; margin: 6px 17px 0;_margin-top:10px;_display:inline; }
.find_wrap .title .fr { margin-right: 17px; }
.find_wrap .content { border:1px solid #dcdddd; border-width: 0 1px 1px 1px; padding-top: 37px;width:958px;background-color:#fff;}
.find_wrap .content .progress { background: url(../img/progress_bar.png) no-repeat; display: block; height: 32px;margin-left:141px; width: 656px; }
.find_wrap .content .p_1 { background-position: 0 0; }
.find_wrap .content .p_2 { background-position: 0 -33px; }
.find_wrap .content .p_3 { background-position: 0 -66px; }
.find_wrap .content form { color: #404040; margin: 57px 0 0 141px; }
.find_wrap form div { margin-bottom: 23px;}
.find_wrap form .line {height:25px;line-height:25px;overflow:hidden;width:100%;}
.find_wrap form .line label {vertical-align:top;*position:relative;*top:-1px;}
.find_wrap form .text { height: 23px; line-height: 23px; border: 1px solid #7f9db9;font-size:14px; padding-left: 5px; width: 173px; }
.find_wrap form .tit { display: inline-block; width: 123px; text-align: right; font: 14px Microsoft Yahei,宋体;margin-right:14px; }
.find_wrap form .s_tit {*position:relative;*top:-3px;}
.find_wrap form label { margin-right: 6px;}
.find_wrap form img { vertical-align: middle; margin-right: 6px; border:1px solid #E2E2E2;height:50px;width:178px;}
.find_wrap form label {vertical-align:middle;display:inline-block;height:25px;width:317px;}
.find_wrap .btn {background:url(../img/bg_findmsg.png) no-repeat;cursor:pointer;display:inline-block;height:36px;margin:7px 0 31px ;overflow:hidden;width:146px; border:0px;}
.find_wrap .btn_next {background-position:0 -40px; border:0px;}
.find_wrap .btn_tj {background-position:0 -120px;}
.find_wrap .btn_loginnow {background-position:0 -200px; margin:0 4px 0 6px;vertical-align:middle; height:39px; width:146px;}
.find_wrap a.btn_loginnow:hover {background-position:0 -240px;}
.find_wrap .infor {font:14px Arial;margin-right:20px;}
.find_wrap .ft {border-top:1px solid #e9e9e9;color:#878787;padding:11px 0 15px 30px;}
.find_wrap .ft h4 {color:#636363;font: 14px Microsoft Yahei,宋体;margin-bottom:7px;}
.find_wrap .icon {background:url(../img/bg_findmsg.png) no-repeat;display:block;float:left;}
.find_wrap .success {font:20px Microsoft Yahei,宋体;height:52px;margin:55px 0 0 307px;_line-height:32px; }
.find_wrap .i_success {background-position:-40px -280px;height:52px;margin-right:25px;width:32px;}
.find_wrap .todo {color:#878787;margin:25px 0 56px 324px;}
.find_wrap .get_yzm {background:url(../img/bg_getyzm.png) repeat-x;border:1px solid #c3c3c3;border-radius:3px;color:#666; display:inline-block;height:19px;line-height:19px;padding:0 7px;margin-right:7px;}
.find_wrap .gray { color:#9e9e9e;}
.find_wrap a.get_yzm:hover {color:#1a66b3;text-decoration:none;}
.find_wrap .sent {color:#878787;margin-right:7px;}
.find_wrap form .wrong {border-color:#ff3939;}
.find_wrap .wrong_box {background-color:#fef2f2;border:1px solid #ffb8b8;color:#f40000; display:inline-block;height:23px;line-height:23px;padding:0 6px;_padding-top:3px;_height:20px;}
.find_wrap .ml6 {margin-left:-6px;}
.find_wrap .wrong_box i {background:url(../img/bg_findmsg.png) no-repeat 0 -280px;display:inline-block;height:17px;margin-right:5px;vertical-align:middle;width:17px;position:relative;top:-1px;top:-1px\0;*top:0;_top:-2px; }
.find_wrap .msg_level {display:inline-block;margin:0 15px 0 -7px;overflow:hidden;width:130px;vertical-align:middle;*display:inline;position:relative;top:-1px;}
.find_wrap .msg_level span {background-color:#b9b9b9;color:#fff; display:inline-block;height:13px;line-height:13px;margin-left:1px;text-align:center;width:42px;_height:12px;_padding-top:1px;_overflow:hidden; }
.find_wrap .msg_level .s1 {background-color:#ffc6a0;}
.find_wrap .msg_level .s2 {background-color:#ffa568;}
.find_wrap .msg_level .s3 {background-color:#ff8e42;}
.find_wrap .tip_yes {background:url(../img/bg_findmsg.png) no-repeat -20px -280px;display:inline-block;height:16px;vertical-align:middle;margin-top:4px;width:16px;*margin-top:4px;}

.location{color:#ff6600; font-weight:bold; font-size:14px}

