body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, th, td { margin:0; padding:0; }
body { color:#333; background:#FFF; text-align:left;  font-family:'微软雅黑'; padding:0 10px 0px 10px  }
header, nav, article, footer, address, section, aside { display:block; }
html { -webkit-font-smoothing: antialiased; }
table { border-collapse:collapse; border-spacing:0; }
table td img { float:left }
a { text-decoration:none; color:#44b; }
a:hover { text-decoration:underline; }
img { border:0; }
em, i, address, caption, cite, em, th { font-style:normal; font-weight:normal; }
li, ol, ul { list-style:none; }
th { text-align:left; }
hr
{
    border:1px solid #ddd;
    }
h1, h2, h3, h4, h5, h6, button, input, select, textarea { font-size:100%; font-weight:normal; }
h1{ font-weight:bold; font-size:1.5em}
p { line-height:150%; overflow:hidden; }


.v li{
    float:left;
    padding-right:12px;
}

h2{
    font-size:16px;
}
.update div
{
    float:left;
}
._class a{ padding-right:12px;}
.t1{ width:110px;}
.t2{width:110px;}
.t3{width:250px;}
.t4{width:110px;}
.t5{width:110px;}
td
{
    padding-right:10px;
}
input[type='button'],input[type='submit']
{
    color:#000;
    border:solid 1px #eee;
    background-color:#eee;
}
/*
Metro list style
*/
.newList h1{ font-size:xxx-large;}
.newList div{ margin:0px; padding:0px;float:left;}
.newList ul,.newList li{ list-style:none; float:left; display:block;padding-left:0;margin-left:0px;}
.newList li{float:left;margin:2px; width:14em;  padding:2px; color:#000; overflow:hidden; height:110px;}
.newList li .item{height:110px;}
.newList li a{ color:#000;}
.newList h1{ font-size:16px; margin:2px}
.newList .lastchapter a{ color:#F00;}
.newList .class,.lastchapter,.author,.time{ width:98%; overflow:hidden;}
.newList a:link{ text-decoration:none;}