@charset "utf-8";
/* CSS Document */
#newslist ul li div h2 a
{
	font-weight:bold;	
	color: #003366;
}
#newslist
{
	/*margin-top: -10px;*/
	border-width:0;
}
.newsprop
{
	border-bottom: 1px solid #336699;
	color: #336699;
	font-weight: normal;
	padding: 0 0 6px;
}
.newsitem
{
	border: 1px solid #C1CAD3;
	width:665px;
}
.left
{
	padding:0;
	border:solid 0px #fff;
}
.main .right
{
	text-align:left;
	border:solid 1px #c1cad3;
	/*background-color:#FFF;*/
}
#main_1 a
{
	color:#000;
	text-decoration:none;
}
.main .right h1
{
	height:25px;
	line-height:25px;
	vertical-align:middle;
	background-image:url(../image/header_grayblue.png);
	color:#FFF;
}
.main ul li{
	list-style-type:none;  
	/*margin-left:-20px;*/
	height:23px;
	color:#4d4d4d;
}
#newslist div h1
{
	background-image:url(../image/header_grayblue.png);
	color:#FFF;
	text-align:center;
}
.classtitle
{
	width:685px;
	border:solid 1px #c1cad3;
	margin-top:0px;
}
.class_description
{
	padding:5px;	
	color:#000;
}

#main_1 .newsitem h2 a
{
    color: #003366;
    font-weight: bold;
}
.description
{
    margin-top:10px;
    width:100%;
    color:#000;
    float:left;
}