<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings >
    <add name="DataEntities" connectionString="metadata=res://*/Data.csdl|res://*/Data.ssdl|res://*/Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ctc-w222-sql.chinadns.net;Initial Catalog=db_web415273;Persist Security Info=True;User ID=web415273;Password=2QzWiObG4V;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="FCKeditor:BasePath" value="~/e/data/FCKEditor/" />
    <add key="FCKeditor:UserFilesPath" value="~/u/fckup/" />
  </appSettings>
  <system.web>
    <pages validateRequest="false"></pages>
    <compilation debug="true" >
    </compilation>
    <!--
      通过 <authentication> 节可以配置
      安全身份验证模式，ASP.NET 
      使用该模式来识别来访用户身份。 
    -->
    <authentication mode="Windows" />
    <!--
       如果在执行请求的过程中出现未处理的错误
       则通过 <customErrors> 节
       可以配置相应的处理步骤。具体而言，
       开发人员通过该节可配置要显示的 html 错误页，
       以代替错误堆栈跟踪。
    -->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </httpModules>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpHandlers>
    <httpRuntime requestValidationMode="2.0" />
    <webServices>
      <protocols>
        <add name= "HttpPost" />
        <add name= "HttpGet" />
      </protocols>
    </webServices>
  </system.web>

</configuration>